<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vampire.host">

    <uses-sdk android:minSdkVersion="24" android:targetSdkVersion="30" />

    <application android:label="Vampire Host" android:debuggable="true">
        <!-- Minimal instrumentation for running tests -->
        <uses-library android:name="android.test.runner" />
    </application>

    <instrumentation
        android:name=".VampireInstrumentation"
        android:targetPackage="com.vampire.host"
        android:label="Vampire Test Runner" />

</manifest>